<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                                              http://www.springframework.org/schema/beans/spring-beans.xsd
                                              http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
                                              http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                                              http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">
    <context:component-scan base-package="ru.mephi.kaf82.DVM"/>
    <bean id="transactionFilter" class="ru.mephi.kaf82.DVM.security.TransactionFilter"/>
    <!-- Properties -->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:datasource.properties</value>
                <value>classpath:hibernate.properties</value>
            </list>
        </property>
    </bean>
    <!--<jpa:repositories base-package="ru.mephi.kaf82.DVM.EntryRepositoryitory"/>-->

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${datasource.driverClassName}"/>
        <property name="url" value="${datasource.url}"/>
        <property name="username" value="${datasource.username}"/>
        <property name="password" value="${datasource.password}"/>
        <!--<property name="initialPoolSize" value="20"/>-->
        <!--<property name="maxIdleTime" value="30000"/>-->
        <!--<property name="maxPoolSize" value="40"/>-->
        <!--<property name="minPoolSize" value="5"/>-->
    </bean>

    <jpa:repositories base-package="ru.mephi.kaf82.DVM.repository"/>
    <context:component-scan base-package="ru.mephi.kaf82"/>
    <mvc:annotation-driven/>
    <!--<mvc:resources location="classpath*:" mapping="/resources/**"/>-->
    <tx:annotation-driven transaction-manager="transactionManager"/>


    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="packagesToScan" value="ru.mephi.kaf82.DVM.model"/>
        <property name="jpaVendorAdapter" ref="hibernateJpaVendorAdapter"/>
        <property name="jpaProperties">
            <props>
                <!--<prop key="hibernate.dialect">${hibernate.dialect}</prop>-->
                <prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>
                <!--<prop key="hibernate.show_sql">${hibernate.show_sql}</prop>-->
                <prop key="hibernate.format_sql">${hibernate.format_sql}</prop>
            </props>
        </property>
    </bean>

    <bean id="hibernateJpaVendorAdapter" class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
        <property name="showSql" value="${hibernate.show_sql}"/>
        <property name="databasePlatform" value="${hibernate.dialect}"/>
    </bean>

    <!-- Resolves views selected for rendering by @Controllers to .jsp resources
           in the /WEB-INF/views directory -->
    <bean
            class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/" />
        <property name="suffix" value=".jsp" />
    </bean>

    <bean id="localeResolver" class="org.springframework.web.servlet.i18n.SessionLocaleResolver">
        <property name="defaultLocale" value="ru" />
    </bean>

    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/*" />
            <ref bean="localeChangeInterceptor" />
        </mvc:interceptor>
    </mvc:interceptors>
    <mvc:resources mapping="/webjars/**" location="classpath:/META-INF/resources/webjars/"/>
    <mvc:resources mapping="/resources/**" location="/static/" />

    <bean id="messageSource"
          class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basename" value="/WEB-INF/messages/validation" />
        <property name="defaultEncoding" value="UTF-8" />
    </bean>

    <bean id="localeChangeInterceptor" class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
        <property name="paramName" value="lang" />
    </bean>

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="50000000"/>
    </bean>

    <!-- Services -->
    <bean name="authService" class="ru.mephi.kaf82.DVM.service.AuthService"/>
    <!-- Resources -->
    <import resource="securityContext.xml"/>
    <!-- Loader -->
    <bean class="ru.mephi.kaf82.DVM.DataLoader"/>
</beans>

